/****** Footer *********/
.footer_container {
  max-width: 600px;
  z-index: 1;
  .footer_navbar {
    text-align: center;

    ul.footer_nav {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        margin: 5px 10px;

        a {
          color: $text_grey;
          font-size: 0.85rem;
          text-decoration: none;

          &:hover,
          &:focus {
            color: $yellow;
          }
        }
      }
    }
  }

  .copyright {
    color: $text_grey;
    font-size: 0.85rem;
  }
  // Footer Logos
  .footer_logos {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      display: contents;
    }
    .footer_logo_img {
      max-width: 130px;
      padding: 0.5rem 1rem;
    }
  }
}

.darkgrey_bg > * {
  color: $silver_grey;

  .footer_navbar ul.footer_nav li a {
    color: $silver_grey;

    &:hover,
    &:focus {
      color: $yellow;
    }
  }
  .copyright {
    color: $silver_grey;
  }
}

// Galaxy Z Fold 5
@media screen and (max-width: 344px) {
  .footer_container {
    padding: 0.75rem 10px;
  }
  .footer_container .footer_navbar .footer_nav li a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  .footer_container {
    padding: 0.75rem 10px;
  }
  .footer_container .footer_navbar .footer_nav li a {
    font-size: 0.8rem;
  }
}
